# Server Port
PORT=7071

# Secret Key used for signing and validating JWT tokens
JWT_SECRET=your-secret-key-here

# Root directory path for storing object payload files on disk
STORAGE_ROOT=./storage

# SQLite Database connection string
DB_PATH=file:./tests/bucketd.db?_foreign_keys=on
